@import "./scss/reset";
@import "./scss/base";

.App{
    padding-top: 1px;
    background-image: url("./assets/images/Back-Ground-Texture-2.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
}