.car-card{
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    padding: 0.2rem;
    background-color: white;
    &__image{
        width: 215px;
        height: 125px;
        //object-fit: scale-down;
        object-fit: cover;
    }
    &__detail-item{
        text-align: left;
        margin-left: 2rem;
        font-size: 0.9rem;
    }
}

.car-card:hover{
    transform: scale(1.1);
    background-color: rgb(250, 211, 211);
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}